
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Basic rules function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Function to check if the user is accessing their own data
    function isUserOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    // User profiles collection
    match /user_profiles/{userId} {
      allow read: if isAuthenticated();
      allow write: if isUserOwner(userId);
    }
    
    // Subscriptions collection
    match /subscriptions/{userId} {
      allow read: if isUserOwner(userId);
      allow write: if isUserOwner(userId);
    }
    
    // Allow read and write access to all other documents for authenticated users
    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}
